trash/data/*
all_others/
*.idea
__pycache__*
__pycache__/
*.pyc
.DS_Store
**/.DS_Scleartore
trash/scripts_local/*
trash/env_files_local/*
trash/docker_local/*
src/history.py
src/test.py
trash/*
docker/build_docker.sh
docker/run_docker.sh
